# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
build/

# Tailwind and CSS artifacts
*.css.map

# Testing files
coverage/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
*.code-workspace
.idea/
*.iml

# Other temporary files
*.tmp
*.lock
*.bak
*.swp
*.swo

# Ignore npm lock if using Yarn
package-lock.json
yarn.lock
